<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Minishogi</title>

    <!-- Bootstrap core CSS -->
    <link href="" rel="stylesheet"> 
    <!-- Bootstrap theme -->
    <link href="" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

  </head>

  <body>
    <div class = "sidebar">
      <h1>Mini Shogi</h1>
      
      <p><a href="/reset">new game</a></p>
      <p><a href="/how_to_play">how to play</a></p>
    </div>
    <div class = "main">
        {% if winner %}
          <div class="greyout">
            <span class="helper"></span>
            <div class="popup">
              <p>Game over. Player {{winner}} wins!</p>
              <button class="popup-button" id="play_again">play again</button>
            </div>
          </div>
        {% else %}
          {% if promotions %}
              <div class = "greyout">
                <span class="helper"></span>
                <div class="popup">
                  <p>Promote to what piece?</p>
                  <div class="option-holder" id="promotion-options">
                    {% for promotion in promotions %}
                      <div class="square" id=promote_{{promotion}}>{{promotion}}</div>
                    {% endfor %}
                  </div>
                </div>
              </div>
          {% endif %}
        {% endif %}
        <div class = "message">player {{turn}}'s turn</div>
        <div class="dead_box" id="team_1_placeable">
          {% for (piece, i) in team_1_placeable %}
            {% if dead_selected == "t1_dead_" + i|string %}
                <div class = "square dead selected" id=t1_dead_{{i}}>{{piece}}</div>
            {% else %}
                <div class = "square dead" id=t1_dead_{{i}}>{{piece}}</div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="board">
            {% for row in board %}
                <div class = "row">
                    {% for (piece, i) in row %}
                        {% if piece %}
                            {% if valid_squares and i in valid_squares %}
                                <div class="tile can_move_to">
                                <div class = "square can_move_to" id = {{i}}>{{piece}}</div>
                                </div>
                            {% else %}
                                <div class="tile">
                                {% if i == selected %}
                                    <div class = "square selected" id = {{i}}>{{piece}}</div>
                                {% else %}<!-- 
                                    {{selected}}
                                    {{i}}
                                    {{selected == i}} -->
                                    <div class = "square" id = {{i}}>{{piece}}</div>
                                {% endif %}
                                </div>
                            {% endif %}
                        {% else %}
                            {% if valid_squares and i in valid_squares %}
                              <div class = "tile can_move_to" id = {{i}}></div>
                            {% else %}
                                {% if i == selected %}
                                  <div class = "tile selected" id = {{i}}></div>
                                {% else %}
                                  <div class = "tile" id = {{i}}></div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
         <div class="dead_box" id="team_2_placeable">
           {% for (piece,i) in team_2_placeable %}
              {% if dead_selected == "t2_dead_" + i|string %}
                <div class = "square dead selected" id=t2_dead_{{i}}>{{piece}}</div>
            {% else %}
                <div class = "square dead" id=t2_dead_{{i}}>{{piece}}</div>
            {% endif %}
          {% endfor %}
         </div>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='scripts/listener.js')  }}"></script>
    </div>
  </body>
</html>
