<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Minishogi</title>

    <!-- Bootstrap core CSS -->
    <link href="" rel="stylesheet"> 
    <!-- Bootstrap theme -->
    <link href="" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

  </head>

  <body>
    Hello
    <div class="dead_box" id="team_1_placeable">
      {% for piece in team_1_placeable %}
        <div class = "square">{{piece}}</div>
      {% endfor %}
    </div>
    <div class="board">
        {% for row in board %}
            <div class = "row">
                {% for (piece, i) in row %}
                    {% if piece %}
                        {% if valid_squares and i in valid_squares %}
                            <div class="tile can_move_to">
                            <div class = "square can_move_to" id = {{i}}>{{piece}}</div>
                            </div>
                        {% else %}
                            <div class="tile">
                            {% if selected and i == selected %}
                                <div class = "square selected" id = {{i}}>{{piece}}</div>
                            {% else %}
                                <div class = "square" id = {{i}}>{{piece}}</div>
                            {% endif %}
                            </div>
                        {% endif %}
                    {% else %}
                        {% if valid_squares and i in valid_squares %}
                          <div class = "tile can_move_to" id = {{i}}></div>
                        {% else %}
                            {% if selected and i == selected %}
                              <div class = "tile selected" id = {{i}}></div>
                            {% else %}
                              <div class = "tile" id = {{i}}></div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
     <div class="dead_box" id="team_2_placeable">
       {% for piece in team_2_placeable %}
          <div class = "square">{{piece}}</div>
      {% endfor %}
     </div>
     <script type="text/javascript" src="{{url_for('static', filename='scripts/listener.js')  }}"></script>
    </div>
  </body>
</html>
