.tile {
	height: 90px;
	width: 80px;
	border-color: black;
	border-width: 3px;
	background: repeating-linear-gradient(
	  to right,
	  #f6ba52,
	  #f6ba52 10px,
	  #ffd180 10px,
	  #ffd180 20px
	);	float: left;
	border-radius: 10px;
	margin-right: 5px;
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;
	padding-left: 15px;
	padding-top: 15px;
	padding-right: 10px;
}

/* the legit one */
.square {
	height: 50px;
	width: 70px;
	border-color: black;
	border-width: 3px;
	float: left;
	padding-top: 30px;
	border-radius: 5px;
	background: #784E06;
  	box-shadow: 0 7px 8px -10px black;
	text-align: center;

	color: #E5C062;
	text-shadow: 0px 1px 0px #f2dfb0;
}

/* the experimental ones */
/*

.square {
	position: relative;
	width: 54px;
	box-sizing: content-box;
	border-width: 50px 18px 0;
	border-style: solid;
	border-color: #E1DDDA transparent;
}*/


.square:hover {
	background: #b5750a;
}

.tile.can_move_to {
	height: 85px;
	width: 75px;
	padding-top:10px;
	padding-left: 10px;
	border: solid #F8F8F8;
	border-width: 5px;
}

.square.selected {

	background: #b5750a;

}

body {
	background-color: white;
}

.board {
	background-color: #c8830a;
	border-radius: 15px;
	height: 625px;
	width: 550px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 25px;
	padding-right: 15px;
	padding-top: 25px;
	padding-bottom: 15px;
}

.row {
	height: 70px;
	margin-bottom: 15px;
}

.center {
	padding-top: 25px;
	text-align: center;
}